.titulo_mapa {
    text-align: center; 
    margin-top: 8px;
}

.margin_top_10 {
    margin-top: 10px;
}

.mapa {
    width: 860px; 
    height: 460px;
}

.mapa2 {
    width: 860px; 
    height: 490px;
}


.botao {
    margin-left: 76%;
    margin-top: -20px;
    color:#ffffff;
    background-color: rgba(155, 137, 137, 0.7);
    border-style: solid;
    border-color: rgb(155, 137, 137);
    border-radius: 20px;
    border: 1px;
    height: 25px;
    width: 160px;
}
